{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/meta-evento.css' %}">
</head>

<script>
    function visitaCriaEventoAula(){
        window.location="{% url 'evento-aula' %}";
    }

    function visitaCriaMeta(){
        window.location="{% url 'criar_meta' %}";
    }
</script>

<button onclick="visitaCriaEventoAula();" class="btn btn-color pos-evento">Evento</button>

<button onclick="visitaCriaMeta();" class="btn btn-color pos-meta">Meta</button>


{% endblock %}
